<h2>Products</h2>

<hr/>
<div *ngFor="let product of products; index as productId">
  
  <b><a [title]="product.name + ' details'" [routerLink]="['/products', productId]" style="float:left; width: 100%;padding-top:2px; padding-bottom:2px;">
    {{ product.name }}
  </a></b>

  <span *ngIf="product.description" style="float:left; width: 100%;padding-top:2px; padding-bottom:2px;">
    Description - {{product.description}}
  </span>
  <span *ngIf="product.price" style="float:left; width: 100%;padding-top:2px; padding-bottom:2px;">
    Price - {{product.price}}
  </span>

  <button (click)="share()" style="float:left;">
    Share
  </button>
  <app-product-alerts [product]="product" (notify)="onNotify()" style="margin-left:5px;"></app-product-alerts>
  <app-add-to-cart [product]="product" (notify1)="notify1()" (notify2)="notify2()" style="margin-left:5px;"></app-add-to-cart>

  <hr style="float:left; width: 100%;"/>

</div>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->